<!-- <ul>
  <app-son><div class="prenomcontent">john</div></app-son>
  <app-son><div class="prenomcontent">hello</div></app-son>
  <app-son><div class="prenomcontent">qsfqsf</div></app-son>
  <app-son><div class="prenomcontent">qsfqsf</div></app-son>
  <app-son><div class="prenomcontent">qsfqsf</div></app-son>
  <app-son><div class="prenomcontent">qsfqsf</div></app-son>
</ul> -->

<ul>
  <app-son [order]="tab[0]" [ville]="sud"></app-son>
  <app-son [order]="tab[1]" [ville]="nord"></app-son
  ><app-son [order]="tab[2]" [ville]="capitale"></app-son>
</ul>
