<!-- <p>student works!</p>
{{ hello2 }}
<button (click)="onClick()">click me</button>
<input type="text" [(ngModel)]="testv" />
<b>{{ testv }}</b> -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<style>
  #inner {
    display: table;
    margin: 0 auto;
  }
  body {
    background-color: #c0c0c0;
  }
</style>
<div class="container">
  <br />
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-4">
      <a type="button" class="btn btn-primary" routerLink="/student/add">
        Add Student
      </a>
    </div>
  </div>
  <br />
  <div class="row">
    <div style="text-align: center" id="inner">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>name</th>
            <th scope="col">lastname</th>
            <th scope="col">email</th>
            <th scope="col">birthdate</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let etudiant of students; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ etudiant.name }}
            </td>
            <td>{{ etudiant.lastname }}</td>
            <td>{{ etudiant.email }}</td>
            <td>{{ etudiant.birthdate }}</td>
            <td>
              <button
                type="button"
                class="btn btn-success"
                (click)="getStudenttoUpdate(etudiant.id)"
              >
                Edit</button
              >&nbsp;
              <button
                type="button"
                class="btn btn-danger"
                (click)="delete(etudiant.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
